<div class="main-bg">
  <div class="container">
    <div class="reg-wrapper">

      <h2 class="text-center">Password Reset</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

          <%= f.email_field :email, autofocus: true, :placeholder=> "Email" %>

        <div class="actions pull-right">
          <%= f.submit "Submit", :class=>"btn btn-outline-primary" %>
        </div>
      <% end %>

      <div class="foot-note">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>