<nav class="navbar navbar-fixed-top navbar-full transparent">

  <div class="navbar-brand btn btn-info">Ask Out</div>

  <div style="float:right;">
    <% if user_signed_in? %>
      Hello <%= current_user.email %>
      <%= link_to "Edit profile", edit_user_registration_path %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %> / <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <%# flash.each do |name, msg| %>
    <%#= content_tag :div, msg, id: "flash_#{name}" %>
  <%# end %>
</nav>